$light-blue: rgb(140,191,242);
$blue-grayish: rgb(152,172,205);
$dark-blue: rgb(77,107,157);
$light-gray: rgb(200,200,255);
$very-light-green: rgb(160,220,160);
$light-green: rgb(150,212,151);
$green-grayish: rgb(152,205,172);
$dark-green: rgb(77,157,107);
@font-face { 
  font-family: 'Great Vibes';
  src: url('../fonts/GreatVibes-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Marta';
  src: url('../fonts/marta.regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('woff');
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  .logo-name {
    font-size: 12vw !important;
  } 
  .logo-first-line {
    margin-left: 0vw !important;
  }
  .logo-second-line {
    margin-left: 25vw !important;
  }
  .logo-small-text {
    margin: -40px 0 0 -6vw;
  }
  ul.nav-bar {
    margin-top: 0;
  }
  .form {
    top: 520px;
  }
}
@media (max-width: 1279px) {
  .form {
    top: 560px;
  }
}
// Medium screen size and up
@media (min-width: 768px) { 
  .logo-name {
    font-size: 96px;
    font-size: 7.6vw;//96px;
  }
  .logo-first-line {
    margin-left: -3vw !important;
  }
  .logo-second-line {
    margin-left: 28vw !important;
    margin-top: -4vw !important;
  }
  ul.nav-bar {
    margin-top: 9vw;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .form {
    top: 600px;
  }
  
}
@media (min-width: 1280px) { 
  .form {
    // top: 300px;
    left: 720px;
  }
}
.bordered {
  // border: 1px solid black;
}
html {
  font-size: 100%;
}
body {
  margin-top: 30px !important;
  background-image: url("../imgs/background-hex2.png");
  background-repeat: repeat;
}
.logo-name {
  font-family: "Great Vibes", serif;
  color: $light-green;
}

.wide {
  letter-spacing: 2px;
}
ul.nav-bar {
  list-style-type: none;
}
.nav-bar a {
  padding: 5px  25px 5px 0px;
  /*border: 1px solid black;*/
}
















li {
  font-family: "Montserrat";
  font-size: 12px;
  display: inline;
  padding: 10px;
  color: $green-grayish;
}
a {
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px !important;
  transition: color .4s; 
  color: $dark-green !important;
}
a:hover {
  color: $very-light-green !important;
  text-decoration: none !important;
}
hr {
  border-top: 1px solid $very-light-green !important;
  width: 80% !important;
}
legend:first-child {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 2px #808080;
 }

 
 button#drawn, #redrawn, #reset {
  // margin-left: 30px;
  // padding: 3px 5px;
}

.button {
  // padding: 3px 5px !important:;
  background-color: transparent;
  font-family: 'Lora', serif;
  border: none !important;
  font-weight: bold;
  color: #3d2405;
  font-size: 16px;
  font-size: 1.6rem;
  transition: color, background-color .3s;
/*  text-shadow: 1px 0px 0px #000;*/
}
.button:hover {
  background-color: #93b3ea;
  color: #000;
}

#myImg {
  display: none; }

#openWindow {
  position: absolute;
  right: 0;
  top: 540px; }

input[type="range"] {
  width: 70px;
}
input[type="color"] {
  width: 40px;
  height: 40px;
  padding: 0;
}
.cnv {
  position: absolute;
  top: 300px;
  // border: 1px solid black;
  // padding-right: 3vw;
  width: 640px !important;
  height: 480px !important;
  margin-left: 5vw;
  // padding: -20px 0 0 0 !important;
}
#cnvLines {
  z-index: 5;
  // top: 300px;
  border: 1px solid black;
}

#cnvTriangles {
  z-index: 4; 
  // top: 300px;
  border: 1px solid red;
}

#cnvCircles {
  z-index: 2; }

#cnvSquares {
  
}
#cnvHexagons {  
  z-index: 1; 
  background-color: white; }

#cnvImage {
  display: none; }

.form-col {
  margin-left: 20px !important;
  margin-right: 20px !important;
  // border: 1px solid red;
}