footer {
/*  height: 180px;*/
}
.content {
  flex: 1 0 auto;
}
legend:first-child {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	text-shadow: 1px 1px 2px #808080;
 }

 
 button#drawn, #redrawn, #reset {
  margin-left: 30px;
  padding: 3px 5px;
}

.button {
  padding: 3px 5px;
  background-color: transparent;
  font-family: 'Lora', serif;
  border: none;
  font-weight: bold;
  color: #3d2405;
  font-size: 16px;
  font-size: 1.6rem;
  transition: color, background-color .3s;
/*  text-shadow: 1px 0px 0px #000;*/
}
.button:hover {
  background-color: #93b3ea;
  color: #000;
}
#cnvLines, #cnvTriangles, #cnvSquares, #cnvCircles, #cnvHexagons {
  padding-right: 20px;
  position: absolute;
  left:10px;
  top: 250px; }
 #form {
	position: relative;
	top: -30px;
	margin-right: 770px;
	left: 770px;
	padding-bottom: 200px; }

#cnvLines {
  z-index: 5;}

#cnvTriangles {
  z-index: 4; 
}

#cnvSquares {
  z-index: 3; }

#cnvCircles {
  z-index: 2; }

#cnvHexagons {
  z-index: 1; 
  background-color: white; }

#cnvImage {
  display: none; }

#myImg {
  display: none; }

#openWindow {
  position: absolute;
  right: 0;
  top: 540px; }

input[type="number"] {
  width: 50px;
   }
