body {
background: rgba(191,210,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(191,210,255,1) 0%, rgba(105,153,201,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(191,210,255,1)), color-stop(100%, rgba(105,153,201,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(191,210,255,1) 0%, rgba(105,153,201,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(191,210,255,1) 0%, rgba(105,153,201,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(191,210,255,1) 0%, rgba(105,153,201,1) 100%);
background: radial-gradient(ellipse at center, rgba(191,210,255,1) 0%, rgba(105,153,201,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd2ff', endColorstr='#6999c9', GradientType=1 );
}
#h3_subtitle {
	margin-left: 300px;
}
.great_letter {
	font-size: 36px;
	font-size: 3.6rem;
	font-family: 'Lora', serif;
}
p, li {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: 'Lora', serif; }
  
a {
  font-family: 'Lora', serif;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: color, text-shadow .4s; }
a:link {
  color: #3d2405; 
  font-weight: bold;
  text-shadow: 0 0 1px #7cbeff;
}

a:visited {
  color: #3d2405; 
  font-weight: bold;
  text-shadow: 0 0 1px #7cbeff;
}

a:hover {
  color: #000; 
  text-shadow: 1px 1px 1px #376de8;}


h1, h2, h3, h4, .message, .info, .warning {
  font-family: 'Oswald', sans-serif; }

.error {
	color: #c60d0d;
	font-weight: bold;
	font-size: 16px;
}
.success {
	color: #47c21b;
	font-weight: bold;
	font-size: 16px;
	/*text-shadow: 0px 0px 1px #d64141;*/
}
 h1 {
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: 400; }

h2 {
  font-size: 36px;
  font-size: 3.6rem; }

h3 {
  font-size: 28px;
  font-size: 2.8rem; }
.nav_bar {
  display: inline;
  padding: 6px 0 6px 0;
/*  border-bottom: 2px solid #be781c;
  border-top: 2px solid #be781c;*/
}
.nav_bar a {
  padding: 5px  15px 5px 15px;
  /*border: 1px solid black;*/
}
.nav_row {
  padding: 30px 0 0 0;
}
.main_header {
	padding: 20px 0 60px 0;
}
footer {
  background-color: #000; 
  height: 180px;}

footer p {
  color: white;
  box-sizing: border-box;
  font-size: 1.275rem;
  padding: 10px 0 0 30px;}
.wrapper {
	background-image: url("../imgs/old_paper_small_red.png");
	background-repeat: no-repeat;

}
#save {
	margin-left: 150px;
}
input {
 padding: 3px;
} 
input[type="submit"] {
	font-weight: bold;
	margin-left: 180px;
}
input[type="color"] {
	border: 1px solid #e8f6ff;
	width: 32px;
	height: 32px;
	border: none;
	margin-left: 5px;
	padding: 0px 0px;
}
th {
  font-size: 16px;
  text-shadow: 1px 1px 1px #808080; }

td {
  width: 100px; }
.heroes_table th:first-child {
	width: 180px;
}
.heroes_table th {
	background-color: #508be4;
	padding: 5px 5px !important;
}
.heroes_table tr {
	background-color: #b3cffa;
}
.heroes_table tr:nth-child(even) {
	background-color: #77a0e0;

}
.heroes_table td {
	padding: 5px 5px !important;
}
.content {
	width: 20%;
	margin: 2% 35% 5% 35%;
}
.content_view {
	width: 55%;
	margin: 0 15% 5% 15%;
}
.numb {
	margin: 0 0 0 50px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
input[type=range] {
	margin: 22px 0 0 0;
	padding-right: 10px;
}
#hide_effects {
	margin-left: 20px;
}

input:focus, textarea:focus {
	background-color: #e6eff7;
	border-color: blue;
}